/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== colorpicker.css ================================================
  == Styles used by the XUL colorpicker element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: colorpicker button ::::: */
 
/* colorpicker button */

colorpicker[type="button"] {
  width: 38px;
  height: 24px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
  background-color: ThreeDFace;
  padding: 3px;
}

.colorpicker-button-colorbox {
  border: 1px solid #000000;
}

colorpicker[type="button"]:focus {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight;
}
  
colorpicker[type="button"][open="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
}

/* ::::: colorpicker tiles ::::: */

.colorpickertile {
  width: 20px;
  height: 20px;
  margin: 1px;
  border-left: 1px solid ThreeDShadow;
  border-top: 1px solid ThreeDShadow;
  border-right: 1px solid ThreeDHighlight;
  border-bottom: 1px solid ThreeDHighlight;
}

.colorpickertile[selected="true"] {
  border: 2px outset #C0C0C0;
}

.colorpickertile[hover="true"] {
  border: 2px dotted #FFFFFF;
}

.cp-light[hover="true"] {
  border: 2px dotted #909090;
}
