/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== groupbox.css ==================================================
  == Styles used by the XUL groupbox and related elements.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: groupbox ::::: */

groupbox {
  margin: 5px;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDHighlight ThreeDShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight;
  padding: 5px;
}

.groupbox-body {
  padding: inherit;
}

caption {
  margin: 0px 6px 2px 6px;
  padding: 0px 3px;
  background-color: -moz-Dialog;
}
