/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== toolbarbutton.css =====================================================
  == Styles used by the XUL button element.
  ======================================================================= */

@import url("chrome://platform/skin/global/toolbarbutton.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: toolbarbutton ::::: */

toolbarbutton {
  -moz-appearance: toolbarbutton;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0;
  border: 2px solid;
  -moz-border-top-colors: transparent;
  -moz-border-right-colors: transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors: transparent;
  padding: 2px;
  background-color: transparent;
  color: -moz-DialogText;
}

.toolbarbutton-icon {
  margin-right: 2px;
}

.toolbarbutton-text {
  margin: 0 !important;
  text-align: center;
}

toolbarbutton.tabbable {
  -moz-user-focus: normal !important;
}
/*
toolbarbutton:-moz-focusring {
  -moz-appearance: toolbarbutton;
  outline: 1px dotted -moz-DialogText;
  outline-offset: -2px;
}
*/
toolbarbutton:hover {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDHighlight;
}

toolbarbutton:hover:active,
toolbarbutton[open="true"] {
  -moz-border-top-colors: ThreeDDarkShadow ThreeDShadow;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight;
  -moz-border-left-colors: ThreeDDarkShadow ThreeDShadow;
  padding: 3px 1px 1px 3px;
}

toolbarbutton[disabled="true"],
toolbarbutton[disabled="true"]:hover,
toolbarbutton[disabled="true"]:hover:active
toolbarbutton[disabled="true"][open="true"] {
  -moz-border-top-colors: transparent;
  -moz-border-right-colors: transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors: transparent;
  padding: 2px;
  color: GrayText;
  text-shadow: none;
}

toolbarbutton[checked="true"] {
  -moz-border-top-colors: ThreeDLightShadow ThreeDShadow !important;
  -moz-border-right-colors: ThreeDLightShadow ThreeDHighlight !important;
  -moz-border-bottom-colors: ThreeDLightShadow ThreeDHighlight !important;
  -moz-border-left-colors: ThreeDLightShadow ThreeDShadow !important;
  padding: 2px !important;
  background-color: ThreeDHighlight !important;
  color: ButtonText !important;
}

toolbarbutton:-moz-lwtheme:not(:hover):not([checked="true"]):not([open="true"]):not([disabled="true"]) {
  color: inherit;
  text-shadow: inherit;
}

/* ::::: toolbarbutton menu ::::: */

.toolbarbutton-menu-dropmarker {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto; /* cut off inheritance */
}

.toolbarbutton-menu-dropmarker[disabled="true"] {
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif");
}

/* ::::: toolbarbutton menu-button ::::: */

toolbarbutton[type="menu-button"] {
  -moz-box-align: stretch;
  -moz-box-orient: horizontal !important;
}

toolbarbutton[type="menu-button"],
toolbarbutton[type="menu-button"]:hover,
toolbarbutton[type="menu-button"]:hover:active,
toolbarbutton[type="menu-button"][open="true"],
toolbarbutton[type="menu-button"][disabled="true"],
toolbarbutton[type="menu-button"][disabled="true"]:hover,
toolbarbutton[type="menu-button"][disabled="true"]:hover:active {
  border-width: 1px;
  border-style: solid;
  padding: 0 !important;
}

.toolbarbutton-menubutton-button {
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-box-orient: vertical;
}

.toolbarbutton-menubutton-button,
.toolbarbutton-menubutton-dropmarker {
  border: 1px solid;
  -moz-border-top-colors: transparent;
  -moz-border-right-colors: transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors: transparent;
}

.toolbarbutton-menubutton-button[disabled="true"],
.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  -moz-border-top-colors: transparent !important;
  -moz-border-right-colors: transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors: transparent !important;
}

toolbarbutton[type="menu-button"]:hover > .toolbarbutton-menubutton-button,
toolbarbutton[type="menu-button"]:hover > .toolbarbutton-menubutton-dropmarker,
toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-button {
  -moz-border-top-colors: ThreeDHighlight;
  -moz-border-right-colors: ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  -moz-border-left-colors: ThreeDHighlight;
}

toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-button,
toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker,
toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker {
  -moz-border-top-colors: ThreeDShadow;
  -moz-border-right-colors: ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDHighlight;
  -moz-border-left-colors: ThreeDShadow;
}

.toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
  padding: 0 0 1px 0;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto; /* cut off inheritance */
}

.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  border: 1px solid transparent !important;
  padding: 0 0 1px 0 !important;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
}

toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker,
toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker {
  padding: 1px 0 0 0;
}

/* ::::: toolbarbutton badged ::::: */

.toolbarbutton-badge-stack > .toolbarbutton-icon[label]:not([label=""]) {
  margin-inline-end: 0;
}

.toolbarbutton-badge {
  background-color: #d90000;
  font-size: 10px;
  font-weight: bold;
  padding: 1px 2px;
  color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 0 hsla(0, 100%, 100%, .2) inset,
              0 -1px 0 hsla(0, 0%, 0%, .1) inset,
              0 1px 0 hsla(206, 50%, 10%, .2);
  margin: -4px 0 0 !important;
  margin-inline-end: -2px !important;
  min-width: 10px;
  line-height: 10px;
  text-align: center;
  -moz-stack-sizing: ignore;
}

/* .......... dropmarker .......... */

.toolbarbutton-menubutton-dropmarker {
  -moz-box-align: center;
  padding: 0 0 1px 0;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn.gif");
  -moz-image-region: auto; /* cut off inheritance */
}

.toolbarbutton-menubutton-dropmarker[disabled="true"] {
  border: 1px solid transparent !important;
  padding: 0 0 1px 0 !important;
  list-style-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif") !important;
}

toolbarbutton[type="menu-button"][open="true"] > .toolbarbutton-menubutton-dropmarker,
toolbarbutton[type="menu-button"]:hover:active > .toolbarbutton-menubutton-dropmarker {
  padding: 1px 0 0 0;
}
